{%extends 'blog/basic.html'%}
{%block body%}
<div class="container mt-4">
    <div class="row mb-2">
      
      {%for i in result%}
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">{{i.title}}</h3>
            <div class="mb-1 text-muted">{{i.pub_date}}</div>
            <p class="card-text mb-auto">{{i.chead0}}</p>
            <a href="blogpost_/{{i.post_id}}" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/media/{{i.thumbnail}}" alt="Thumbnail" class="bd-placeholder-img" width="200" height="250">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect>
            </svg>
          </div>
        </div>
      </div>
      {%if forloop.counter|divisibleby:2 and not forloop.last%}
        </div>
        <div class="row mb-2">
      {%endif%}
      {%endfor%}
      
    </div>
  </div>
    
{%endblock%}