{% extends 'shop/basic.html' %}

{%block title%} Shop {%endblock%}
{%block css%} 

<style>
  .col-md-3
  {
    display: inline-block;
    margin-left: -4px;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .col-md-3 img{
    width: 277px;
    height: 242px;
    
  }

  body .carousel-indicator li{
    background-color: blue;
  }

  body .carousel-indicators{
    bottom: 0;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color: blue;
  }

  .carousel-control-prev,
  .carousel-control-next{
    top: auto;
    bottom: auto;
    padding-top: 223px;
  }

  body .no-padding{
    padding-left: 0;
    padding-right: 0;
  }
  

</style>


{%endblock%}


{%block body%}
{%load static  %}
<div class="container">
  {% for products, range , nslides in allProds%}
  <h3 class="my-3">Recomended-{{products.0.category}}</h1>
    <div class="row">

    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
  <ul class='carousel-indicators'>
    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
    {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to={{i}}></li>
    {%endfor%}    
  </ul>

  <!--slide show starts here-->
  <div class="container carousel-inner no-padding">
    <div class="carousel-item active">
      {% for i in products %}
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card align-items-center" style="width: 18rem;">
          <img src="/media/{{i.image}}"  class="card-img-top center" alt="...">
          <div class="card-body">
            <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
            <p class="card-text">{{i.desc}}</p>
            <span id="divpr{{i.id}}" class="divpr">
            <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
            </span>
            <a href="/shop/productview/{{i.id}}">
              <button id="qv{{i.id}}" class="btn btn-primary ">Quick View</button>
            </a>
            </div>
        </div>
      </div>
      {%if forloop.counter|divisibleby:4 and not forloop.last%}
    </div><div class="carousel-item">

      {%endif%}
      {% endfor %}

      </div>
  </div>
</div>
  <!--left and right controls for the slide-->
  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
{%endfor%}
</div>

{%endblock%}

{%block js%}
<script>
  $('#popcart').popover('show');

  document.getElementById("popcart").setAttribute('data-content','<h5>Cart</h5>');

  
  if(localStorage.getItem('cart')==null){
      var cart = {};
  }else{
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart);
      updatePopover(cart);
  }
  
  //if plus or minus button is clicked then change the value value
  
  $('.divpr').on("click","button.minus",function(){
    console.log("minus clicked");
    a = this.id.slice(5,);
    cart[a] = cart[a]-1;
    
    localStorage.setItem('cart',JSON.stringify(cart));

    updateCart(cart);
  })
  
  $('.divpr').on("click","button.plus",function(){
    console.log("plus clicked");
    a = this.id.slice(4,);
    cart[a]=cart[a]+1;
    localStorage.setItem('cart',JSON.stringify(cart));
    updateCart(cart);
  })

  

  //add to cart button is pushed for first time
  $('.cart').click(function(){
    var idstr = this.id.toString();
    if (cart[idstr] != undefined){
      cart[idstr] = cart[idstr]+1;
    }
    else{
      cart[idstr] = 1;
    }
    localStorage.setItem('cart',JSON.stringify(cart));
    updateCart(cart)
  });
  //this function updates the cart.  
  function updateCart(cart){
    for(var item in cart){
      document.getElementById('div'+item).innerHTML = "<button id='minus"+item+
      "' class='btn btn-primary minus'>-</button> <span id='val"+item+
      "'>"+cart[item]+"</span> <button id='plus"+item+"' class='btn btn-primary plus'>+"+
      "</button>";
      
    }
    var totalCount = 0;
    for(var item in cart){
      totalCount += cart[item];
    }
    document.getElementById('cart').innerHTML = totalCount;
    updatePopover(cart);
  }

  function updatePopover(cart){
    console.log("popover");
    var popstr = "";
    popstr += "<h5> Cart for Your items in my shopping cart</h5><div class='mx-2 my-2'>";
    var i = 1
    for(var item in cart){
      popstr += "<b>"+i+". </b> ";
      popstr += document.getElementById('name'+item).innerHTML + " Qty: "+cart[item]+"<br/>";
      i++;
    }
    popstr += "</div>";
    popstr = popstr + "<button>cart</button>";
    console.log(popstr);
    document.getElementById("popcart").setAttribute('data-content',popstr);
    $('#popcart').popover('show');

  }

  function clearCart(cart){
    localStorage.clear();
    cart = {};
    updateCart(cart);
  }

</script>
{%endblock%}
